#resumen-proyecto > summary {
    list-style: none;
}

#resumen-proyecto > summary::-webkit-details-marker {
    display: none;
}

.reserves-title {
    text-align: center;
}

.reserve-title {
    text-align: center;
}

.reserver-info {
    text-align: center;
    /* make it a card */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}

.ticket-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;

    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.ticket-grid > .ticket {
    flex: auto;
    max-width: 380px;
    margin: 15px;
    padding: 15px;
    /* Make it a card */
    background-color: #323a46;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.ticket .ticket-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.passenger-info {
    font-size: 1.3rem;
}

.flight-info {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    /* background-color: rgb(43, 51, 62); */
}

.passenger-info .passenger-name {
    font-weight: bold;
}

.passenger-info .passenger-passport {
    float: right;
}

.flight-info .flying-icon {
    text-align: center;
}

.ticket-seat {
    float: right;
    text-align: right;
}

.upgrade-status .ticket-food-and-luggage {
    text-align: center;
}

.flight-location {
    margin-bottom: 5px;
}

.logout-container {
    /* Align center */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.logout-button {
    width: 300px;
}

.button-centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}